
nav#main-navbar{
	width:100%;
	overflow: hidden;
	background-color: blue;
}
div#navbar-container{
	float: left;
	position: relative;
	left:50%;
}

nav#main-navbar ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	right: 50%;
}
nav#main-navbar ul li {
	display: block;
	float: left;
	position: relative;
}

nav#main-navbar ul li a{
	display: block;
	text-decoration: none;
	color: #fff;
	padding: 10px 20px;	
	
	
}
nav#main-navbar ul li a:hover{
	background-color: #000;
}

#navbar-container{
	float: left;
	position: relative;
}

#onpage{
	text-decoration: underline overline;
	}

div#sidebar{
	position: fixed;
	right: 0%;
	height: 100%;
	width: 20%;
	background-color: red;
}


div#sidebar ul{
	list-style-type: none;
	text-align: center;	
	padding: 15px 0;
}

div#sidebar ul li a {
	display: block;
	color: #fff;
	text-decoration:none;
	padding: 15px;
}
div#sidebar ul li a:hover{
	background-color: #000;
}