nav#main-navbar{
	background-color: blue;
}

nav#main-navbar ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
nav#main-navbar ul li {
	float: left;
	margin: 0 15px;
}

nav#main-navbar ul li a{
	display: block;
	text-decoration: none;
	color: #fff;
	padding: 10px 20px;	
}

#navbar-container{
	width: 100%;
	float: left;
	position: relative;
}

#onpage{
	text-decoration: underline overline;
}

#sidebar{
	position: fixed;
	right: 0%;
	height: 100%;
	width: 20%;
	background-color: red;
}

#sidebar-container{
	text-align: center;
	
}

#sidebar ul{
	list-style-type: none;
	
}

#sidebar ul li{
	background-color: #000;
}

#sidebar ul li a {}
